/* 1. Homepage Hero Section */
.hero-section {
  background: linear-gradient(#000d91ad, #000df7ab),
    url(../img/geonix-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 159px 0px !important;
  padding-bottom: 160px !important;
  background-attachment: fixed;
}
.hero-sub-title {
  letter-spacing: 10px;
  transition: 1s;
}
@keyframes hero-sub-title {
  0% {
    letter-spacing: 0px;
  }
  100% {
    letter-spacing: 10px;
  }
}
.hero-section-title {
  position: relative;
  top: 0px;
}
.active-hero-title-animation {
  animation-name: hero-section-all-element;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
.hero-sub-title {
  position: relative;
  top: 0px;
}
.active-hero-sub-title {
  animation-name: hero-section-all-element;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
.hero-btn {
  position: relative;
  top: 0px;
}
.active-hero-btn {
  animation-name: hero-section-all-element;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
@keyframes hero-section-all-element {
  0% {
    top: 60px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
/* 2. About Section */
.about-title::after {
  content: "";
  background: #020e75;
  padding: 1px 27px;
  position: relative;
  left: 17px;
  height: 27px;
  -webkit-clip-path: polygon(0 46%, 100% 46%, 100% 56%, 0 57%);
  clip-path: polygon(0 46%, 100% 46%, 100% 56%, 0 57%);
}
.section-title-about {
  position: relative;
}
.section-title-about::before {
  content: "ABOUT US";
  position: absolute;
  font-size: 69px;
  top: -15px;
  z-index: -2;
  text-align: center;
  left: 0px;
  right: 0px;
  color: #e4e4e4d1;
  letter-spacing: 10px;
}
/* 3. Know More Section */
.know-more-section {
  background: linear-gradient(#000d91ad, #000df7ab),    url(../img/geonix-background-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}
.info-section {
  border: 2px solid #fff;
  border-radius: 3px;
  padding-top: 20px;
  transition: 0.5s;
  padding-bottom: 20px;
}
.info-area {
  padding-top: 15px;
}
.info-section:hover {
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0px 0px 30px 6px #ffffff47;
}
.info-section:hover .info-text {
  color: #0b1227 !important;
}
.info-icon,
.info-text {
  transition: 0.5s;
}
.info-section:hover .info-icon {
  color: #0b1227 !important;
}
/* 4. Services Section CSS  */
.service-section {
  background: #0b1227;
}
.section-title-services {
  position: relative;
  z-index: 22323 !important;
}
.section-title-services::before {
  content: "SERVICES";
  position: absolute;
  font-size: 69px;
  top: -15px;
  text-align: center;
  left: 0px;
  right: 0px;
  color: #ffffff26;
  letter-spacing: 12px;
  z-index: -1;
}
.service-area {
  background-color: rgb(243, 243, 243);
  text-align: center;
  position: relative;
  transition: 0.5s;
}
.service-area:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 30px 10px #ffffff29;
}
.service-icon i {
  padding: 24px 19px;
  font-size: 34px;
  background: linear-gradient(45deg, #000d8a, #000dff);
  color: white;
  border-radius: 100px;
}
/* 5. Team Section CSS  */
.section-title-team {
  position: relative;
  z-index: 2;
}
.section-title-team::before {
  content: "TEAM";
  position: absolute;
  font-size: 69px;
  top: -15px;
  z-index: -2;
  text-align: center;
  left: 0px;
  right: 0px;
  color: #ffffff3b;
  letter-spacing: 16px;
}
.team-workers {
  background: linear-gradient(#000d91ad, #000df7ab), url(../img/geonix-team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 70px !important;
  padding-bottom: 60px !important;
  position: relative;
  background-attachment: fixed;
}
.team-member-induvidual {
  position: relative;
}
.team-social-icon {
  margin: 5px 0px;
}
.team-social-icon a {
  color: #0b1227 !important;
  padding: 7px;
  font-size: 21px;
}
/* 6. Projects Section CSS  */
.section-title-projects {
  position: relative;
}
.section-title-projects::before {
  content: "PROJECTS";
  position: absolute;
  font-size: 69px;
  top: -15px;
  z-index: -2;
  text-align: center;
  left: 0px;
  right: 0px;
  color: #e4e4e4d1;
  letter-spacing: 12px;
}
.project-area {
  position: relative;
}
.project-info {
  position: absolute;
  text-align: left !important;
  color : white !important;
  top: 0px;
  width: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 4px;
  padding: 0px 15px;
  background: #00000075;
}
.project-info-bottom {
  position: absolute;
  width: 100%;
  bottom: 19px;
}
/* 6. Testimonial Section CSS  */
.section-title-testimonial {
  position: relative;
}
.section-title-testimonial::before {
  content: "TESTIMONIAL";
  position: absolute;
  font-size: 69px;
  top: -15px;
  z-index: -2;
  text-align: center;
  left: 0px;
  right: 0px;
  color: #e4e4e4d1;
  letter-spacing: 12px;
}
.carousel-control-prev {
  opacity: 1 !important;
  font-size: 30px;
}
.carousel-control-next {
  opacity: 1 !important;
  font-size: 30px;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 354px !important;
  padding: 20px 10px;
}
.swiper-slide {
  background-color: #fff !important;
  box-shadow: 0px 0px 30px #3535354f;
}
.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-slide .testimonial-img img {
  width: 100px;
  margin: auto;
  border-radius: 100000px
}
/* Skills Section CSS  */
.skills-img {
  background: url(../img/geonix-skills.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* Brand Slider */
.owl-dots {
  display: none;
}
.brand-slider img {
  filter: grayscale(100%);
  transition: 0.5s;
}
.brand-slider img:hover {
  filter: grayscale(0%);
}
