.notCursor {
  cursor: none;
}
.notCursor * {
  cursor: none;
}
#kursorWrapper {
  position: fixed;
  z-index: 99;
  pointer-events: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
div[class*="kursor"] {
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 10000;
}
div[class*="kursor"].kursor--hidden {
  opacity: 0;
  width: 0px;
  height: 0px;
}
div[class*="kursor"].kursor--1 {
  left: 0px;
  top: -77px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #000ded;
  transition: all 0.2s ease 0s, top 0.18s ease-out 0s, left 0.18s ease-out 0s;
}
div[class*="kursor"].kursor--1 + .kursorChild {
  display: block;
  width: 6px;
  height: 6px;
  background: rgba(var(--k-color), 1);
  border-radius: 50%;
  transition: all 0.2s ease 0s, top 0s ease-out 0s, left 0s ease-out 0s;
}
div[class*="kursor"].kursor--1.--hover {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(var(--k-color), 0);
  background: rgba(var(--k-color), 0.1);
}
div[class*="kursor"].kursor--1.--hover + .kursorChild {
  background: rgba(var(--k-color), 0.3);
}
div[class*="kursor"].kursor--1.kursor--down {
  width: 20px;
  height: 20px;
}
div[class*="kursor"].kursor--1.kursor--down + .kursorChild::after {
  opacity: 0;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 50%;
  border-color: rgba(var(--k-color), 1);
  transition: all 0.4s ease 0s;
  width: 40px !important;
  height: 40px !important;
}
div[class*="kursorChild"] {
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  display: none;
  overflow: hidden;
}
div[class*="kursorChild"].kursorChild[class*="--hidden"] {
  opacity: 0;
  width: 0px;
  height: 0px;
}
div[class*="kursorChild"].kursorChild::after {
  content: "";
  pointer-events: none;
  width: 0px;
  height: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 1;
  border: 0px solid rgba(var(--k-color), 0.5);
  transform: translate(-50%, -50%);
}
.kursor--absolute {
  z-index: 2000;
  position: absolute !important;
}
@media screen and (max-width: 768px) {
  .notCursor * {
    cursor: auto;
  }
  div[class*="kursor"] {
    display: none !important;
  }
  div[class*="kursorChild"] {
    display: none !important;
  }
}
@media screen and (max-width: 812px) and (max-height: 430px) and (orientation: landscape) {
  div[class*="kursor"] {
    display: none !important;
  }
  div[class*="kursorChild"] {
    display: none !important;
  }
  .notCursor * {
    cursor: auto;
  }
}
