/* Mostly Used CSS */
* {
  outline: none !important;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Montserrat", sans-serif !important;
}
.top-header {
  background-color: #0b1227;
}
.header-social-icon a {
  padding: 9px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
.bg-primary-color{ 
  background: -o-linear-gradient(45deg, #000d8a, #000dff); 
  background: linear-gradient(45deg, #000d8a, #000dff);
}
header nav {
  padding: 0px !important;
  margin: 0px !important;
}
header nav ul li a {
  color: #0b1227 !important;
  font-weight: 600 !important;
  padding: 15px !important;
  text-align: center;
}
.menu-bar {
  background-color: #020d75;
  width: 0%;
  height: 3px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.hamburger-menu-bar {
  height: 2px;
  background: #0b1227;
  width: 29px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  margin-top: 6px;
}
.hamburger-menu-bar:nth-child(1) {
  margin-top: 0px !important;
}
.menu-bar-2 {
  left: 0px;
}
.menu-bar-2-active {
  position: relative;
  left: -15px;
  opacity: 0;
}
.menu-bar-1-active {
  -webkit-transform: rotate(50deg) translate(5px, 5px);
      -ms-transform: rotate(50deg) translate(5px, 5px);
          transform: rotate(50deg) translate(5px, 5px);
}
.menu-bar-2-active {
  position: relative;
  left: -29px;
  opacity: 0;
}
.menu-bar-3-active {
  -webkit-transform: rotate(-50deg) translate(5px, -7px);
      -ms-transform: rotate(-50deg) translate(5px, -7px);
          transform: rotate(-50deg) translate(5px, -7px);
}
.fixed-header {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  background: white;
  padding-left: 70px !important;
  margin: auto;
  padding-right: 70px !important;
  left: 0px;
  z-index: 1000000000000000 !important;
  -webkit-box-shadow: -1px 20px 30px 20px #00000012;
          box-shadow: -1px 20px 30px 20px #00000012;
  -webkit-animation-name: headeranimation;
          animation-name: headeranimation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  border-bottom: 3px solid #020d75 !important;
}
@-webkit-keyframes headeranimation {
  0% {
    top: -1000px;
  }
  100% {
    top: 0px;
  }
}
@keyframes headeranimation {
  0% {
    top: -1000px;
  }
  100% {
    top: 0px;
  }
}
.header-custom-btn a {
  background: -webkit-gradient(linear, left top, right top, from(#000d8a), color-stop(#000dff), color-stop(#000d8a), to(#000dff));
  background: -o-linear-gradient(left, #000d8a, #000dff, #000d8a, #000dff);
  background: linear-gradient(90deg, #000d8a, #000dff, #000d8a, #000dff);
  color: #ffffff !important;
  background-size: 330%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  padding: 15px 23px !important;
  margin-left: 10px;
}
.header-custom-btn a:hover {
  -webkit-box-shadow: -2px 20px 30px 0px #00000014;
          box-shadow: -2px 20px 30px 0px #00000014;
  background-position: right;
  color: #fff !important;
}
header nav ul li a:hover .menu-bar {
  width: 100%;
}
.main-header {
  border-bottom: 1px solid #eee;
  padding: 12px 10px;
}
.custom-btn {
  background: transparent;
  color: #ffffff !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 0px !important;
  padding: 15px 23px !important;
  font-weight: 800;
  border: 3px solid #fff;
}
.custom-btn:hover {
  -webkit-box-shadow: -2px 20px 30px 0px #ffffff2b;
          box-shadow: -2px 20px 30px 0px #ffffff2b;
  background: #ffffff;
  color: #0b1227 !important;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  border: 3px solid #ffffff;
}
.primary-color {
  background: -o-linear-gradient(45deg, #000d8a, #000dff);
  background: linear-gradient(45deg, #000d8a, #000dff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.secondary-color {
  color: #0b1227 !important;
}
.custom-btn-2 {
  color: #0b1227 !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 0px !important;
  padding: 15px 23px !important;
  font-weight: 800;
  border: 3px solid #020d75;
}
.custom-btn-2:hover {
  border: 3px solid #020d75;
  background: -o-linear-gradient(45deg, #000d8a, #000dff);
  background: linear-gradient(45deg, #000d8a, #000dff);
  -webkit-box-shadow: -2px 20px 30px 0px #00000038;
          box-shadow: -2px 20px 30px 0px #00000038;
  color: white !important;
}
.text-dark {
  color: #0b1227 !important;
}
.white-title-bar {
  background-color: #fff;
  width: 50px;
  height: 5px;
  margin: auto;
}
.title-bar {
  background: -o-linear-gradient(45deg, #000d8a, #000dff);
  background: linear-gradient(45deg, #000d8a, #000dff);
  width: 50px;
  height: 5px;
  margin: auto;
}
.text-light {
  color: #ddd !important;
}
.custom-btn-3 {
  color: #ffffff !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 0px !important;
  padding: 15px 23px !important;
  font-weight: 800;
  border: 3px solid #ffffff;
}
.custom-btn-3:hover {
  background: #fff;
  color: #000 !important;
  -webkit-box-shadow: 0px 9px 30px 7px #ffffff40;
          box-shadow: 0px 9px 30px 7px #ffffff40;
}
.custom-btn-4 {
  background-color: #020e75;
  color: white !important;
  border: 3px solid #020d75;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 0px !important;
  padding: 15px 23px !important;
  font-weight: bolder;
}
.custom-btn-4:hover {
  background-color: #0b1227;
  border: 3px solid #0b1227;
  -webkit-box-shadow: -2px 20px 30px 0px #00000038;
          box-shadow: -2px 20px 30px 0px #00000038;
}
.left-bar {
  margin: unset;
}
.main-footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#000d91eb), to(#000df7ed)),
    url(../img/geonix-footer-bg.png);
  background: -o-linear-gradient(#000d91eb, #000df7ed),
    url(../img/geonix-footer-bg.png);
  background: linear-gradient(#000d91eb, #000df7ed),
    url(../img/geonix-footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer-link a {
  color: white !important;
  text-decoration: none;
}
.footer-link span {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.footer-link:hover span {
  padding-left: 10px;
}
.footer-social-icon a {
  padding: 9px;
  font-size: 29px;
}
.header-social-icon a:nth-child(1) {
  padding-left: 0px !important;
}
.btn-top {
  color: #fff;
  background: -o-linear-gradient(45deg, #000d8a, #000dff);
  background: linear-gradient(45deg, #000d8a, #000dff);
  border-radius: 100000px;
  position: fixed;
  right: 20px;
  bottom: -110px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 10px 18px;
  font-size: 27px;
  z-index: 1000000000000000000000000000000 !important;
}
.btn-top:hover {
  background-color: #fff;
  color: #0b1227;
}
.active-top-btn {
  -webkit-animation-name: topbtnanimation;
          animation-name: topbtnanimation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  bottom: 20px;
  right: 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn-top:hover {
  color: #fff !important;
  -webkit-box-shadow: 0px 0px 30px #00000078;
          box-shadow: 0px 0px 30px #00000078;
}
/* Subscription Section */
.subscription-seciton {
  background-color: #0b1227;
}
.sub-from {
  border: 2px solid #fff;
  color: #fff !important;
  padding: 9px 18px !important;
}
.form-icon {
  border: 2px solid #fff;
  border-right: none;
}
.subscribe-btn {
  padding: 9px 18px !important;
  border: 2px solid #fff !important;
}
@-webkit-keyframes topbtnanimation {
  0% {
    bottom: -110px;
  }
  100% {
    bottom: 20px;
  }
}
@keyframes topbtnanimation {
  0% {
    bottom: -110px;
  }
  100% {
    bottom: 20px;
  }
}
.bottom-footer {
  background: #0b1227;
}
.footer-logo {
  width: 195px;
}